<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-------------------------------------------------->
    <link rel="stylesheet" href="./../static/styles/contacto.css">
    <title>Home</title>
</head>
<body>
    <header>
        <!-- logo -->
        <div id="logo-container">
            <img id="logo" src="../static/img/logoASTRONUM.png" alt=""> 
        </div>
        <h1>AstroNum</h1>
        <!-- barra de navegación -->
        <div class="navbar">
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="./astrologia.html">Astrología</a></li>
                <li><a href="./numerologia.html">Numerología</a></li>
                <li><a href="./recursos.html">Recursos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./ayuda.html">Ayuda</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono -->
        <div id="icon-container">
            <a id="loginl" href="../templates/login.html"><img id="icon" src="../static/img/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
    <br>
    
     
     <main>
        <div class="container">
            <div class="texto-info">
             <p class="textoP">📩 Contáctanos para Soporte
                Si el problema persiste, ponte en contacto con nuestro equipo de soporte técnico:
                Correo electrónico: astronum2024@gmail.com
                🛠️ Nuestro Compromiso
                Nos comprometemos a brindarte una solución en el menor tiempo posible. Sabemos lo importante que es para ti explorar el universo sin interrupciones.
                Gracias por confiar en nuestra plataforma. ¡Juntos, superaremos cualquier obstáculo cósmico! 🌟</p>
        </div>
       <div class="card"> 
            <p class="textF">¿Necesitas ayuda?</p>
            <p class="textoP">¿Tienes alguna pregunta sobre AstroNum? ¿Necesitas ayuda para navegar por nuestra plataforma? ¡Estamos aquí para ayudarte! Nuestro equipo de soporte está disponible para responder tus preguntas y ayudarte a resolver cualquier problema que puedas encontrar.</p>
            <br>
            <br>
        </div>
       </main>
    <footer id="footer">
        <p>© 2024 AstroNum. Todos los derechos reservados.</p>
        <div id="img-redes">
            <img class="iconos" src="./../static/img/icons/facebook.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/instagram.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/twitter-x.svg" alt="iconos">
        </div>
    </footer>
    
</body>
</html>