<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-------------------------------------------------->
    <link rel="stylesheet" href="./../static/styles/contacto.css">
    <title>Home</title>
</head>
<body>
    <header>
        <!-- logo -->
        <div id="logo-container">
            <img id="logo" src="../static/img/logoASTRONUM.png" alt=""> 
        </div>
        <h1>AstroNum</h1>
        <!-- barra de navegación -->
        <div class="navbar">
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="./astrologia.html">Astrología</a></li>
                <li><a href="./numerologia.html">Numerología</a></li>
                <li><a href="./recursos.html">Recursos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./ayuda.html">Ayuda</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono -->
        <div id="icon-container">
            <a id="loginl" href="../templates/login.html"><img id="icon" src="../static/img/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
    <br>
    

        <!-- formulario -->
        <main>
            <div class="container">
                <div class="texto-info">
                <p>¿Tienes preguntas, comentarios o quieres explorar el cosmos con nosotros? ¡Estamos aquí para ayudarte! No importa si buscas una lectura personalizada, más información sobre nuestros recursos o simplemente compartir tu experiencia astrológica, nos encantará saber de ti.</p>
                <br>
                <p>🌌 Síguenos en Redes Sociales</p>
                <img class="iconos" src="./../static/img/icons/facebook.svg" alt="iconos">
                <img class="iconos" src="./../static/img/icons/instagram.svg" alt="iconos">
                <img class="iconos" src="./../static/img/icons/twitter-x.svg" alt="iconos">
            </div>
           <div class="card"> 
    
            <form action=""></form>
                <p class="textF">Contacto</p>
                <br>
                <form>
                    <label for="mail">Email </label><br>
                    <input type="email" id="mail" name="mail"><br>
                    <!------------------------------------------->
                    <label for="consulta">Consulta </label><br>
                    <input class="consul" type="text" id="consulta" name="consulta"><br>
                    <!------------------------------------------->
                    <button>Enviar</button>
    
                  </form>
            </div>
           
        </div>
        </main>
    <footer id="footer">
        <p>© 2024 AstroNum. Todos los derechos reservados.</p>
        <div id="img-redes">
            <img class="iconos" src="./../static/img/icons/facebook.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/instagram.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/twitter-x.svg" alt="iconos">
        </div>
    </footer>
    
</body>
</html>