<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-------------------------------------------------->
    <link rel="stylesheet" href="./../static/styles/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <!-- logo -->
        <h1>AstroNum</h1>
        <!-- <img src="/static/img/icons/person-fill.svg" alt=""> -->
        <!-- barra de navegación -->
        <div class="navbar">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Astrología</a></li>
                <li><a href="">Numerología</a></li>
                <li><a href="">Recursos</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </div>
    </header>
    <br>
    <!-- contenido -->
     <section>
        <h2>Bienvenido a AstroNum</h2>
        <p id='texto'>Descubre el fascinante mundo de la astrología y la numerología con una experiencia personalizada y completa. En AstroNum, nos dedicamos a conectar a los usuarios con el conocimiento profundo de los astros y los números que guían su vida.</p>
        <br>
        <h2>¿Qué encontrarás en AstroNum?</h2>
        <ul>
            <li>Astrología en detalle</li>
            <li>Calculadora de Numerología</li>
            <li>Perfil personalizado</li>
        </ul>
     </section>

    <!-- cards -->
    <main>
        <div class="card">
            <p class="textA">Reporte Astrológico</p>
            <br>
            <img src="./../static/img/icons/caret-down.svg" alt="">
        </div>
        <div class="card">
            <p class="textA">Reporte Numerológico</p>
            <br>
            <img src="./../static/img/icons/caret-down.svg" alt="">
        </div>
        <div class="card">
            <p class="textA">Numerología y Amor</p>
            <br>
            <img src="./../static/img/icons/caret-down.svg" alt="">
        </div>
    </main>

    <footer>
        <p>© 2024 AstroNum. Todos los derechos reservados.</p>
        <div id="img-redes">
            <img class="iconos" src="./../static/img/icons/facebook.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/instagram.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/twitter-x.svg" alt="iconos">
        </div>
    </footer>
    
</body>
</html>