<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-------------------------------------------------->
    <link rel="stylesheet" href="./../static/styles/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <!-- logo -->
        <div id="logo-container">
            <img id="logo" src="../static/img/logoASTRONUM.png" alt=""> 
        </div>
        <h1>AstroNum</h1>
        <!-- barra de navegación -->
        <div class="navbar">
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="./astrologia.html">Astrología</a></li>
                <li><a href="./numerologia.html">Numerología</a></li>
                <li><a href="./recursos.html">Recursos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./ayuda.html">Ayuda</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono -->
        <div id="icon-container">
            <a id="loginl" href="../templates/login.html"><img id="icon" src="../static/img/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
    <br>

    <!-- formulario -->
    <main>
       <div class="card">
        <p class="textF">Iniciar Sesión</p>
        <p class="aa">Bienvenido de nuevo</p>
            <br>
            <form id="formulario">
                <label for="usuario">Email:</label><br>
                <input type="email" id="usuario" name="usuario" placeholder="Ingrese su Email"><br>
                <p id="mensajeErrorEmail" style="color: red;"></p>

                <label for="contrasena">Contraseña:</label><br>
                <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su Contraseña"><br>
                <p id="mensajeErrorContrasena" style="color: red;"></p>
                <button id="ingresar" type="submit">Ingresar</button>

              </form>
                <a href="" class="aa">¿Olvidaste tu contraseña?</a>
              <br>
              <p class="aa">¿No tienes una cuenta? <a class="aa" href="./registro.html">REGISTRATE</a></p>
    </main>

    <footer>
        <p>© 2024 AstroNum. Todos los derechos reservados.</p>
        <div id="img-redes">
            <img class="iconos" src="./../static/img/icons/facebook.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/instagram.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/twitter-x.svg" alt="iconos">
        </div>
    </footer>
    <script src="./../static/js/login.js"></script>
</body>
</html>