<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-------------------------------------------------->
    <link rel="stylesheet" href="./../static/styles/recursos.css">
    <title>Recursos</title>
</head>
<body>
    <header>
        <!-- logo -->
        <div id="logo-container">
            <img id="logo" src="../static/img/logoASTRONUM.png" alt=""> 
        </div>
        <h1>AstroNum</h1>
        <!-- barra de navegación -->
        <div class="navbar">
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="./astrologia.html">Astrología</a></li>
                <li><a href="./numerologia.html">Numerología</a></li>
                <li><a href="./recursos.html">Recursos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./ayuda.html">Ayuda</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono -->
        <div id="icon-container">
            <a id="loginl" href="../templates/login.html"><img id="icon" src="../static/img/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
    <br>
    <!-- contenido -->
     <section>
        
        <div class="texto">
        <p id='texto'>¡Bienvenido a nuestra sección de recursos astrológicos! Aquí encontrarás una colección cuidadosamente seleccionada de herramientas y contenidos que te ayudarán a profundizar en tu conexión con el universo. Desde material descargable hasta curiosidades cósmicas, este espacio está diseñado para quienes desean explorar el fascinante mundo de la astrología.</p>
        <br> 
    </div>
        <ul>
            <li>PDFs para Descargar</li>
            <li>Datos Random Cósmicos</li>
            <li>Herramientas y Extras</li>
        </ul>
       
     </section>

    <!-- cards -->
    <main>
        <div class="container">
        <div class="card">
            <button class="botones">Numerología</button>
        </div>
        <div class="card">
            <button class="botones" >Astrología</button>
        </div>
        <div class="card">
            <button class="botones">Protección</button>
        </div>
        </div>
        <div class="container">
        <div class="card">
            <button class="botones">Shadow Work</button>
        </div>
        <div class="card">
            <button class="botones">Cristales</button>
        </div>
        <div class="card">
            <button class="botones">Planetas</button>
        </div>
    </div>
    </main>

    <footer>
        <p>© 2024 AstroNum. Todos los derechos reservados.</p>
        <div id="img-redes">
            <img class="iconos" src="./../static/img/icons/facebook.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/instagram.svg" alt="iconos">
            <img class="iconos" src="./../static/img/icons/twitter-x.svg" alt="iconos">
        </div>
    </footer>
    
</body>
</html>